<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Best Movies Of The Greatest Directors API</title>
    <link href="https://fonts.googleapis.com/css?family=Lato%7CRaleway" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script defer src="https://unpkg.com/gsap@3/dist/gsap.min.js"></script>
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="js/main.js"></script>
</head>

<body>

    <h1 class="hidden">Welcome to the Best Movies Of The Greatest Directors API!</h1>

    <header class="main-header">
        <section class="grid-con header-row">
            <div class="header-brand">
                <h2 class="header-name">Best Movies API</h2>
            </div>

            <nav class="desktop-nav">
                <ul class="main-nav">
                    <li><a href="#about-section">About</a></li>
                    <li><a href="#movie-main">Movie List</a></li>
                </ul>
            </nav>

            <button id="hamburger">&#9776;</button>
        </section>
    </header>

    <div id="menu" class="overlay">
        <button id="close">&times;</button>

        <nav>
            <ul>
                <li><a href="#about-section">About</a></li>
                <li><a href="#movie-main">Movie List</a></li>
            </ul>
        </nav>
    </div>

    <br>

    <section class="col-span-full about-section">
        <h2 class="hidden">About The Project</h2>
        <div class="grid-con">

            <div class="col-span-full about-title">
                <h2>About This Project</h2>
            </div>

            <div class="col-span-full about-content">
                <p>
                    This page is a movie website that works with a custom API. Instead of just showing static content,
                    it loads movie data from the backend and displays it on the page. The goal was to create something
                    more interactive than a simple list of my favorite movies.
                </p>

                <p>
                    I built this project to practice working with APIs and connecting a backend to a frontend. It also
                    helped me improve how I structure data and display it in a clean and understandable way.
                </p>

                <p>
                    For the backend, I used Laravel to create the API and manage the movie data. I worked with models,
                    controllers and routes to organize how the data is handled, and used migrations to structure the
                    database. I also used seeders and factories to generate and insert movie data, including titles,
                    directors, and image paths. This made it easier to test the API and keep everything organized and
                    consistent.
                </p>

                <p>
                    On the frontend, I used JavaScript with Vue to fetch the data and update the page dynamically
                    without reloading.
                </p>

                <p>
                    On this page, users can browse through movies, click on them, and see more detailed information like
                    the title, director and image. The idea is to make the experience simple but interactive.
                </p>
            </div>

        </div>

    </section>
    <section class="movie-section" id="movie-main">
        <div class="grid-con" id="app">
            <div class="col-span-full m-col-span-7 l-col-span-8 movie-list-con">
                <div v-if="loadingMovies">
                    <img class="loader" src="images/spinner-double.svg" alt="Loading Movies">
                </div>
                <ul id="movie-list" v-else>
                    <li v-for="movie in moviesData" :key="movie.id">
                        <h3>
                            <button @click="getMovie(movie.id)">
                                {{movie.title}}
                            </button>
                        </h3>
                    </li>
                </ul>
            </div>
            <div class="col-span-full m-col-span-5 l-col-span-4 movie-info" ref="movieInfoCon">
                <div v-if="loadingMovieDetails">
                    <img class="loader" src="images/spinner-double.svg" alt="Loading Movie Details">
                </div>
                <div v-else-if="error">
                    {{error}}
                </div>
                <div v-else-if="selectedMovie" id="info-box">
                    <img :src="`http://127.0.0.1:8000/${selectedMovie.image_url}`" :alt="selectedMovie.poster">
                    <p>
                        <span class="title">Title:</span>
                        {{selectedMovie.title}}
                    </p>
                    <p>
                        <span class="title">Director:</span>
                        {{selectedMovie.director}}
                    </p>
                    <!-- <p>
                        <span class="title"></span>
                        {{}}
                    </p> -->
                </div>
            </div>

        </div>
    </section>
</body>

</html>